.inpuFields{
    margin-left:40%;
}
.inputFieldsSize{
    width: 40%;
}

.alignbutton{
margin-left:49%;
}
p{
    font-size: 25px;
    margin-left: 43%;
}

#alertMessage{
    text-align: center;
    color: red;
}